---
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/*.md");
import BaseLayouts from "../layouts/BaseLayouts.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Blog";
---

<BaseLayouts pageTitle={pageTitle}>
	<p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayouts>
